.custom-button {
  background: linear-gradient(180deg, #a4bc46 0%, #85a019 100%);
  border-radius: 10px;
}

.special-text {
  color: #fabe4c;
}

.img-fluid {
  background-color: #f1f1f1;
  padding: 0.8rem;
}
